.tab-pane.active {
	display: flex;
	gap: 30px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-body {
	flex: 0;
}

.d-flex {
	display: grid !important;
	grid-template-columns: 2fr 8fr;
}

.tab-pane{
    border: 1px solid gray;
    padding: 20px;
}

.nav{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.nav-link{
	box-shadow: 0 0 10px -4px;
}